pkgbase = static-web-server-bin
	pkgdesc = Static Web Server (sws): A cross-platform, high-performance and asynchronous web server for static files-serving (official binary version)
	pkgver = 2.32.0
	pkgrel = 1
	url = https://static-web-server.net
	arch = x86_64
	arch = i686
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = Apache
	license = MIT
	provides = static-web-server
	provides = sws
	conflicts = sws
	source_x86_64 = static_web_server_x86_64_2.32.0.tar.gz::https://github.com/static-web-server/static-web-server/releases/download/v2.32.0/static-web-server-v2.32.0-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = 7a24eba311d90281d8e2f441918814cf3d4455c943fd3f2c23d494fc3444aced
	source_i686 = static_web_server_i686_2.32.0.tar.gz::https://github.com/static-web-server/static-web-server/releases/download/v2.32.0/static-web-server-v2.32.0-i686-unknown-linux-gnu.tar.gz
	sha256sums_i686 = 33e9f2481ce6f70ef2d80b1f2c3f712e05a9036a3720a920217ff77ddf067ab3
	source_armv6h = static_web_server_armv6h_2.32.0.tar.gz::https://github.com/static-web-server/static-web-server/releases/download/v2.32.0/static-web-server-v2.32.0-arm-unknown-linux-musleabihf.tar.gz
	sha256sums_armv6h = 997b82085007a3e86ec002f70420784e4271750be582b8f819279bf9e77c98a8
	source_armv7h = static_web_server_armv7h_2.32.0.tar.gz::https://github.com/static-web-server/static-web-server/releases/download/v2.32.0/static-web-server-v2.32.0-armv7-unknown-linux-musleabihf.tar.gz
	sha256sums_armv7h = 2026cc3dc24c19c0c2915312c8df1c8899f128197ee19a92a93c2fdd5b888efd
	source_aarch64 = static_web_server_aarch64_2.32.0.tar.gz::https://github.com/static-web-server/static-web-server/releases/download/v2.32.0/static-web-server-v2.32.0-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = 1544651fa9bb2c04c8c571ea8debf7698df917336b5e703fcc9a779e17f33fdc

pkgname = static-web-server-bin
