pkgbase = static-web-server-bin
	pkgdesc = Static Web Server (sws): A cross-platform, high-performance and asynchronous web server for static files-serving (official binary version)
	pkgver = 2.36.0
	pkgrel = 1
	url = https://static-web-server.net
	arch = x86_64
	arch = i686
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = Apache
	license = MIT
	provides = static-web-server
	provides = sws
	conflicts = sws
	source_x86_64 = static_web_server_x86_64_2.36.0.tar.gz::https://github.com/static-web-server/static-web-server/releases/download/v2.36.0/static-web-server-v2.36.0-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = 170d3b99e5f08c61e38caa8335e91fca0c0156c6f3fba1c00b3a2763e16dc7d4
	source_i686 = static_web_server_i686_2.36.0.tar.gz::https://github.com/static-web-server/static-web-server/releases/download/v2.36.0/static-web-server-v2.36.0-i686-unknown-linux-gnu.tar.gz
	sha256sums_i686 = 9dd732810c6ab9132d17683fac8927811f656c1b45917adfadfa7e96fdc5e89e
	source_armv6h = static_web_server_armv6h_2.36.0.tar.gz::https://github.com/static-web-server/static-web-server/releases/download/v2.36.0/static-web-server-v2.36.0-arm-unknown-linux-musleabihf.tar.gz
	sha256sums_armv6h = 260f17e12c7a23dbd191db596421e76caa1532d29dde0f6861c56b25e2c9f8da
	source_armv7h = static_web_server_armv7h_2.36.0.tar.gz::https://github.com/static-web-server/static-web-server/releases/download/v2.36.0/static-web-server-v2.36.0-armv7-unknown-linux-musleabihf.tar.gz
	sha256sums_armv7h = 1066219a8dd30bfc9760b2ba4eeb381effeddc435feaa060f4d3d7f7785c9e5d
	source_aarch64 = static_web_server_aarch64_2.36.0.tar.gz::https://github.com/static-web-server/static-web-server/releases/download/v2.36.0/static-web-server-v2.36.0-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = 166fcac258a7d6bd644d427da005bde2212c57031c88a34526f25b859c3ef2a8

pkgname = static-web-server-bin
