pkgbase = static-web-server-bin
	pkgdesc = Static Web Server (sws): A cross-platform, high-performance and asynchronous web server for static files-serving (official binary version)
	pkgver = 2.32.2
	pkgrel = 1
	url = https://static-web-server.net
	arch = x86_64
	arch = i686
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = Apache
	license = MIT
	provides = static-web-server
	provides = sws
	conflicts = sws
	source_x86_64 = static_web_server_x86_64_2.32.2.tar.gz::https://github.com/static-web-server/static-web-server/releases/download/v2.32.2/static-web-server-v2.32.2-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = 88bfbc1b807967a92b51f48516b2f1cd10e43f4d2be0dd0cd8b20f791bb02870
	source_i686 = static_web_server_i686_2.32.2.tar.gz::https://github.com/static-web-server/static-web-server/releases/download/v2.32.2/static-web-server-v2.32.2-i686-unknown-linux-gnu.tar.gz
	sha256sums_i686 = cc21fa05b39aba8241a6da491d5f659fd0e46ed3a8ba3a3767bfcf949b77756a
	source_armv6h = static_web_server_armv6h_2.32.2.tar.gz::https://github.com/static-web-server/static-web-server/releases/download/v2.32.2/static-web-server-v2.32.2-arm-unknown-linux-musleabihf.tar.gz
	sha256sums_armv6h = 130e6211f335efef402562b503e600789826bfd0a2c936fa125a746afcc2c345
	source_armv7h = static_web_server_armv7h_2.32.2.tar.gz::https://github.com/static-web-server/static-web-server/releases/download/v2.32.2/static-web-server-v2.32.2-armv7-unknown-linux-musleabihf.tar.gz
	sha256sums_armv7h = ca8cdd85a43f85851b889be1982827f6c373e24cd64bf41c2234b0d01d6551a6
	source_aarch64 = static_web_server_aarch64_2.32.2.tar.gz::https://github.com/static-web-server/static-web-server/releases/download/v2.32.2/static-web-server-v2.32.2-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = f27b50708f90cfadf7881ec27eca4c1c62de9fadf28d579ebdf511bd86ad96f9

pkgname = static-web-server-bin
